header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
}

.userContainer {
  display: flex;
  align-items: center;
}

.userImage {
  border-radius: 9999px;
  height: auto;
  width: auto;
  max-width: 32px;
  max-height: 32px;
}

.imageContainer {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 9999px;
}

.hasStory {
  border: 2px solid red;
}

.userInfo {
  margin-left: 14px;
  font-size: 14px;
  font-weight: 600;
}

.btnDots {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
}
