footer {
  padding: 6px 16px;
  display: flex;
  align-items: center;
}
footer input {
  flex: 2;
  border: none;
}

footer input::placeholder {
  color: #adadad;
}

footer input:focus {
  outline: none;
}

footer button {
  font-weight: 600;
  color: #c0e4fc;
}
